.Products-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* ensures full width */
  min-height: 100vh;
  padding: 2rem;
  gap: 1.5rem;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 0.6rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}


.product-heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* container for product cards */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* center the cards */
  gap: 1rem;
}

